---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key&query=hardware%20store%20location=6%20Paimon%20St&radius=48000key=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "html_attributions" : [],
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Fri, 11 Aug 2023 17:05:05 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=AIzaSyDKCSjiAwe-kjN21N6lQP_g9YwtzEPg5aY&query=hardware%20store%20location=6%20Paimon%20St&radius=48000key=AIzaSyDKCSjiAwe-kjN21N6lQP_g9YwtzEPg5aY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "303 W South St, Lebanon, IN 46052, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 40.0463324,
                       "lng" : -86.4709683
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.04767807989272,
                          "lng" : -86.46941907010726
                       },
                       "southwest" : {
                          "lat" : 40.04497842010728,
                          "lng" : -86.47211872989271
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/shopping-71.png",
                 "icon_background_color" : "#4B96F3",
                 "icon_mask_base_uri" : "https://maps.gstatic.com/mapfiles/place_api/icons/v2/shopping_pinlet",
                 "name" : "Gillman Home Center",
                 "opening_hours" : {
                    "open_now" : true
                 },
                 "photos" : [
                    {
                       "height" : 3000,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/109041879306242959273\"\u003eKramer Lumber Do it Best\u003c/a\u003e"
                       ],
                       "photo_reference" : "AUacShg67pIgTVKYbRB93_PoRPFJ4I_BaKbvRfIDiyGUPHb4HIj2R1RgY67sGXgTsz_w5xH_MUpbS-20MiJ5Nols8DJms39NwLVIaIqsl_kSCfYnKlpQZ_5am1haqoxZM92SSve-wwT-JTFs-u8-eSAmJG2YhJb66kp7xAN82TLgOzhpRo0",
                       "width" : 4000
                    }
                 ],
                 "place_id" : "ChIJvYI3auNOE4gRuHIsQBYYv4U",
                 "plus_code" : {
                    "compound_code" : "2GWH+GG Lebanon, Indiana",
                    "global_code" : "86GM2GWH+GG"
                 },
                 "rating" : 4.5,
                 "reference" : "ChIJvYI3auNOE4gRuHIsQBYYv4U",
                 "types" : [
                    "hardware_store",
                    "home_goods_store",
                    "store",
                    "point_of_interest",
                    "establishment"
                 ],
                 "user_ratings_total" : 90
              },
              {
                 "business_status" : "OPERATIONAL",
                 "formatted_address" : "800 E Main St, Brownsburg, IN 46112, United States",
                 "geometry" : {
                    "location" : {
                       "lat" : 39.8393762,
                       "lng" : -86.3832718
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.84064997989272,
               [...]
